<ion-header class="header">
  <ion-toolbar color="warning">
    
    
  <ion-row>
   <ion-col align-self-start> 
      <ion-title>SMTT-SL</ion-title>
   </ion-col>
   <ion-col align-self-start> 
      
   </ion-col>
   <ion-col align-self-start> 
      
    </ion-col>
   <ion-col align-self-start> 

      <ion-icon  class="exit" name="exit" (click)="exit()"></ion-icon>
      <label > {{nome}}</label>
   </ion-col>
    </ion-row>

    <!-- <ion-searchbar></ion-searchbar>-->
  </ion-toolbar>
</ion-header>
 

<ion-content>
   
  <form [formGroup]="slideOneForm"  #form="ngForm"    (ngSubmit)="AddSubmit(form)" method="post">
   
    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
   
    <h3 class="subtile1">Nova Mensagem</h3>
       
  
    <ion-grid class="grid1">
        
        <ion-item>
            <label>Segmento     : </label> 
         
           
        
             <ion-select  formControlName="segmento" name="segmento" [(ngModel)]="seg" placeholder="Select One" >
              <ion-select-option value="{{seg}}">{{seg}}</ion-select-option>                             
            </ion-select>
        </ion-item>

   <ion-item>
      <ion-label>Grupo       :   </ion-label>  
      <ion-select  formControlName="grupo" [(ngModel)]="groups" name="Grupo" placeholder="Select One" >
        <ion-select-option  value="{{groups}}">{{groups}}</ion-select-option>                             
      </ion-select>
   </ion-item>

<ion-item>
     <ion-label>Usuario       :   </ion-label>  
      <ion-select  formControlName="usuario" [(ngModel)]="nome" name="Usuario" placeholder="Select One" >
        <ion-select-option  value="{{nome}}">{{nome}}</ion-select-option>  
                                  
    </ion-select>
</ion-item>


<ion-item>
    <label>Tipo     : </label> 
  
   
    <ion-textarea  formControlName="tipo"  ></ion-textarea>
   
  </ion-item>
<ion-item>
  <label>Mensagem     : </label> 

 
  <ion-textarea  formControlName="mensagem"  ></ion-textarea>
 
</ion-item>
          
          <ion-item>
            <ion-button  class="b1" (click)="goBack()" color="light">Cancelar</ion-button>
         <!--     <ion-button color="tertiary">Salvar</ion-button>-->
            <ion-button class="b2" type="submit" color="tertiary"  color="tertiary">Salvar</ion-button>
          </ion-item>
    </ion-grid>
    
  </form>
</ion-content>