<ion-header class="header">
  <ion-toolbar color="warning">
    
    
  <ion-row>
   <ion-col align-self-start> 
      <ion-title>SMTT-SL</ion-title>
   </ion-col>
   <ion-col align-self-start> 
      
   </ion-col>
   <ion-col align-self-start> 
      
    </ion-col>
   <ion-col align-self-start> 

      <ion-icon  class="exit" name="exit" (click)="exit()"></ion-icon>
      <label > {{nome}}</label>
   </ion-col>
    </ion-row>

    <!-- <ion-searchbar></ion-searchbar>-->
  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="slideOneForm"  #form="ngForm" (ngSubmit)="AddSubmit(form)" method="post">
    <h3 class="subtile1">Grafico Infração </h3>
      
     <ion-grid class="grid1">
              
                 
                    <ion-item>
                        <label>Data Início</label> 
                      
                       
                        <ion-datetime class="date1" formControlName="data1" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2019-12-09" autofocus="true" [(ngModel)]="dd1" (ionChange)="getD(dd1)"></ion-datetime>

                      </ion-item>
                      <ion-item>
                          <label>Data fim</label> 
                        
                         
                          <ion-datetime class="date2" formControlName="data2" [(ngModel)]="dd2" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2040-12-09" (ionChange)="getD2(dd2)"></ion-datetime>
                         <ion-item *ngIf="!slideOneForm.controls.data2.valid  ">
                            <p>Please enter a valid orgao.</p>
                          </ion-item>
                      </ion-item>
                   
                          

                            <ion-button  type="submit" color="primary">Pesquisar</ion-button>
                          

                            

                            <ion-list-header color="light">Gráfico</ion-list-header>
                            <ion-card class="welcome-card">
                              <ion-card-header>
                                <ion-card-subtitle> Gráfico de Atividades</ion-card-subtitle>
                                <ion-card-title>SMTT-SL</ion-card-title>
                              </ion-card-header>
                              <ion-card-content>
                                <canvas #barChart></canvas>
                              </ion-card-content>
                            </ion-card>
                      <table id="tb" style="display: none;">
                        <tr>
                          <th>grupo</th>
                          <th>Quantitade</th>
                          <th>Valor(R$)</th>
                        </tr>
                        <tr>
                          <td *ngFor="let m of grop1">{{m}}</td>
                     
                          <td *ngFor="let m of tt1">{{m}}</td>
                          <td *ngFor="let m of m11">{{m}}</td>
                        </tr>
                        <tr>
                          <td *ngFor="let m of grop2">{{m}}</td>
                          <td *ngFor="let m of tt2">{{m}}</td>
                          <td *ngFor="let m of m22">{{m}}</td>
                     
                        </tr>
                        <tr>
                          <td >Total</td>
                          <td *ngFor="let m of to">{{m}}</td>
                          <td *ngFor="let m of m3">{{m}}</td>
                        </tr>
                      </table>
          
                          </ion-grid>
                       
         
          </form>
</ion-content>
