<ion-header class="header">
  <ion-toolbar color="warning">
    
    
  <ion-row>
   <ion-col align-self-start> 
      <ion-title>SMTT-SL</ion-title>
   </ion-col>
   <ion-col align-self-start> 
      
   </ion-col>
   <ion-col align-self-start> 
      
    </ion-col>
   <ion-col align-self-start> 

      <ion-icon  class="exit" name="exit" (click)="exit()"></ion-icon>
      <label > {{nome}}</label>
   </ion-col>
    </ion-row>

    <!-- <ion-searchbar></ion-searchbar>-->
  </ion-toolbar>
</ion-header>

<ion-content > 

  <ion-button class="addbutton" position="buttom" (click)="goTo()" color="success" style="position: center">
    <ion-icon slot="start"  name="add" ></ion-icon> Incluir
   
  </ion-button>
  <div class="table">
   
        
        
          <table >
            <thead class="theadTable">
              <tr class="trTable" >
                <th>codigo </th>
                <th>Digito </th>
                <th>tipo </th>
                <th>categoria </th>
                <th>Descricao_breve </th>
                <th>Observacao </th>
                <th>valor </th>
                <th>Moeda </th>
                <th>Fator </th>
                <th>tipoInfracao </th>
                <th>descricao </th>
                <th>Infrator </th>
                <th>Imparo </th>
                <th>TipoVeiculo </th>
                <th>Afericao </th>
                <th>inativio </th>
              </tr>
            </thead>
            <tbody>
              <tr id="{{sa.codigo}}" *ngFor="let sa of ss; let i =index ">
                <td   >{{sa.codigo}}</td>
                <td   >{{sa.digito}}</td>
                <td   >{{sa.tipo}}</td>
                <td   >{{sa.categoria}}</td>
                <td   >{{sa.descricao_breve}}</td>
                <td   >{{sa.observacao}}</td>
                <td   >{{sa.valor}}</td>
                <td   >{{sa.moeda}}</td>
                <td   >{{sa.fator}}</td>
                <td   >{{sa.tipoinfracao}}</td>
                <td   >{{sa.descricao}}</td>
                <td   >{{sa.infrator}}</td>
                <td   >{{sa.amparo}}</td>
                <td   >{{sa.tipoveiculo}}</td>
                <td   >{{sa.afericao}}</td>
                <td   >{{sa.inativo}}</td>
                
                
                <td >
                  <ion-icon name="ios-trash"  (click)="delete(sa.codigo)"  ></ion-icon>
               
                </td>

              </tr>
            </tbody>
          </table>
       
      
        </div>

</ion-content>
