<ion-header class="header">
  <ion-toolbar color="warning">
    
    
  <ion-row>
   <ion-col align-self-start> 
      <ion-title>SMTT-SL</ion-title>
   </ion-col>
   <ion-col align-self-start> 
      
   </ion-col>
   <ion-col align-self-start> 
      
    </ion-col>
   <ion-col align-self-start> 

      <ion-icon  class="exit" name="exit" (click)="exit()"></ion-icon>
      <label > {{nome}}</label>
   </ion-col>
    </ion-row>

    <!-- <ion-searchbar></ion-searchbar>-->
  </ion-toolbar>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
     integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>
  </ion-header>
  <ion-content>
  <form [formGroup]="slideOneForm"  #form="ngForm" (ngSubmit)="pesquisar(form)" method="post">
      <h3 class="subtile1">Pontos de Interesse</h3>
        
       <ion-grid class="grid1">
                <ion-item>
                  <label>Segmento</label> 
                
                 
                  <ion-select  formControlName="segmento" (ionChange)="saveSegmento()"  placeholder="Selecione um"  id="cla"   >
                    <ion-select-option  *ngFor="let sa of ss; let i =index " value= "{{sa.segmento}}" >{{sa.segmento}}</ion-select-option>                         
                  </ion-select> 
                </ion-item>
  
                <ion-item>
                    <label>Grupo</label> 
                  
                
                    <ion-select  formControlName="grupo"  placeholder="Selecione um"  (ionChange)="saveGroup(groups)"id="cla"  [(ngModel)]="groups"  >
                      <ion-select-option   value= "{{groups}}" >{{groups}}</ion-select-option>                         
                    </ion-select> 
                </ion-item>
  
                <ion-item>
                      <label>Usuário</label> 
                    
                     
                       
                    <ion-select  formControlName="usuario"  placeholder="Selecione um"  (ionChange)="saveUsuario($event)" id="cla"    >
                       <ion-select-option  *ngFor="let a of nome" value= "{{a}}" >{{a}}</ion-select-option>       
                          
                   </ion-select> 
                </ion-item>
  
                  
                <ion-item>
                  <label>Data Início</label> 
                
                 
                  <ion-datetime class="date1" formControlName="data1" displayFormat="MM/DD/YYYY" min="2011-03-14" max="2019-12-09" autofocus="true"></ion-datetime>

                </ion-item>
                <ion-item>
                    <label>Data fim</label> 
                  
                   
                    <ion-datetime class="date2" formControlName="data2" displayFormat="MM/DD/YYYY" min="2011-03-14" max="2040-12-09"></ion-datetime>
                    <ion-item *ngIf="!slideOneForm.controls.data2.valid  ">
                      <p>Please enter a valid orgao.</p>
                    </ion-item>
                  </ion-item>
                  
                           <ion-item>
                              <label>Hora Início</label> 
                            
                             
                              <ion-datetime  displayFormat="h:mm a"></ion-datetime>
                           
  
                            </ion-item>
                            <ion-item>
                                <label>Hora Fim</label> 
                              
                               
                                <ion-datetime    displayFormat="h:mm a"></ion-datetime>
                               
  
                              </ion-item>
  
                              <ion-button type ="submit" color="primary" >Pesquisar</ion-button>
                              <ion-button (click)="mapa($event,form)"color="secondary" >MAPA</ion-button>
                          



                              <table id="table" style="display:none;">
                                <tr>
                                    <th>
                                        nome
                                      </th>
                                    <th>
                                      Condição
                                    </th>
                                    <th>
                                      Data Mapeamento
                                    </th>
                                  
                                    <th>
                                      imei
                                    </th>
                                    <th>
                                      latitude
                                    </th>
                                    <th>
                                      longitude
                                    </th>
                              
                                    <th>
                                      obs
                                    </th>
                                    <th>
                                      Situação
                                    </th>
                                    <th>
                                      tipo
                                    </th>
                                    <th>
                                      Versão
                                    </th>
                                </tr>
                                <tr id="{{sa.codigo}}" *ngFor="let sa of submit">
                              
                                    <td>
                                      {{sa.nome}}
                                    </td>
                                    <td>
                                      {{sa.codopcao}}
                                    </td>
                                    <td>
                                      {{sa.dtmapeamento}}
                                    </td>
                                    <td>
                                      {{sa.imei}}
                                    </td>
                                    <td>
                                      {{sa.latitude}}
                                    </td>
                                    <td>
                                      {{sa.longitude}}
                                    </td>
                                    <td>
                                        {{sa.obs}} 
                                    </td>
                                    <td>
                                      {{sa.situacao}}
                                    </td>
                                    <td>
                                      {{sa.tipo}}
                                    </td>
                                    <td>
                                      {{sa.versao}}
                                    </td>
                                  
                                   
                                </tr>
                              
                              </table>
                              <div style="left: 10cm;" id="mapid"  ></div>
  
                            </ion-grid>


                          
                          </form>      
                            
           

                  
  </ion-content>
  