<ion-header class="header">
  <ion-toolbar color="warning">
    
    
  <ion-row>
   <ion-col align-self-start> 
      <ion-title>SMTT-SL</ion-title>
   </ion-col>
   <ion-col align-self-start> 
      
   </ion-col>
   <ion-col align-self-start> 
      
    </ion-col>
   <ion-col align-self-start> 

      <ion-icon  class="exit" name="exit" (click)="exit()"></ion-icon>
      <label > {{nome}}</label>
   </ion-col>
    </ion-row>

    <!-- <ion-searchbar></ion-searchbar>-->
  </ion-toolbar>
</ion-header>
  <ion-content>
   <ion-grid>
    <h3 text-center>Ocorrencias CVLI</h3>
  </ion-grid>
  <form #form="ngForm" (ngSubmit)="pesquisar(form)" method="post">
 
 
  <ion-item>
    <ion-label >data Initicial</ion-label>
    <ion-datetime ngModel displayFormat="MM/DD/YYYY" min="1994-03-14" max="2025-12-30" value=""  name="inicial"></ion-datetime>
  </ion-item>
  

  
  
  
  <ion-item>
    <ion-label >data Final</ion-label>
    <ion-datetime ngModel displayFormat="MM/DD/YYYY" min="1994-03-14" max="2025-12-30" value=""  name="final"></ion-datetime>
  </ion-item>
  
  
  
  <ion-list>      
    <ion-item>
      <ion-label position="floating">Usuario:</ion-label>
      <ion-select  placeholder="Selecione o Usuario..." >
        <ion-select-option *ngFor="let seg of segs">{{seg.nome}}</ion-select-option>
      </ion-select>
    </ion-item> 
  </ion-list>
  
  <ion-item>
    <ion-label>Municipios</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
    
  <ion-list>      
    <ion-item>
      <ion-label >Municipios:</ion-label>
      <ion-select  placeholder="Selecione o Municipios..." (ionChange)="PopulaGrupos($event);">
        <ion-select-option *ngFor="let seg of segs">{{seg.nome}}</ion-select-option>
      </ion-select>
    </ion-item> 
  </ion-list>


  <ion-item>
    <ion-label>Bairros</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-label>AISP</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-label>RISP</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
 
  <ion-item>
    <ion-label>CIPM</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
 
  <ion-item>
    <ion-label>DT</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-button type="submit" expand="full" color="primary">Pesquisar</ion-button>
 </form>
  
  
  
  </ion-content>
  