.grid2{
    width:60%;
    background: #FFC224;
    height: 20%;
}
.grid1{
    height: 40%;
    width:60%;
    background: #FFC224;
}

.content{
    
         background-image: url("/assets/imgs/smttsl/fondo.png");
      
         background-size: 100%;
         background-position: center;
         background-repeat: no-repeat;
         width: 30%;
         height: 100%;
         //padding-top: 10%
  
}