<ion-header class="header">
  <ion-toolbar color="warning">
    
    
  <ion-row>
   <ion-col align-self-start> 
      <ion-title>SMTT-SL</ion-title>
   </ion-col>
   <ion-col align-self-start> 
      
   </ion-col>
   <ion-col align-self-start> 
      
    </ion-col>
   <ion-col align-self-start> 

      <ion-icon  class="exit" name="exit" (click)="exit()"></ion-icon>
      <label > {{nome}}</label>
   </ion-col>
    </ion-row>

    <!-- <ion-searchbar></ion-searchbar>-->
  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="slideOneForm"  #form="ngForm" (ngSubmit)="pesquisar(form)" method="post">
    <h3 class="subtile1">Uso do Sistema</h3>
      
     <ion-grid class="grid1">
              <ion-item>
                <label>Segmento</label> 
              
               
                <ion-select  formControlName="segmento" (ionChange)="saveSegmento()"  placeholder="Selecione um"  id="cla"   >
                  <ion-select-option  *ngFor="let sa of ss; let i =index " value= "{{sa.segmento}}" >{{sa.segmento}}</ion-select-option>                         
                </ion-select> 
              </ion-item>

              <ion-item>
                  <label>Grupo</label> 
                
              
                  <ion-select  formControlName="grupo"  placeholder="Selecione um"  (ionChange)="saveGroup(groups)"id="cla"  [(ngModel)]="groups"  >
                    <ion-select-option   value= "{{groups}}" >{{groups}}</ion-select-option>                         
                  </ion-select> 
              </ion-item>

              <ion-item>
                    <label>Usuário </label> 
                  
                   
                     
                  <ion-select  formControlName="usuario"  placeholder="Selecione um"  (ionChange)="saveUsuario()" id="cla"   >
                     <ion-select-option  *ngFor="let a of nome"  value= "{{a}}" >{{a}}</ion-select-option>                         
                 </ion-select> 
              </ion-item>

                
              <ion-item>
                <label>Mes/Ano</label> 
              
               
                <ion-datetime class="date1" formControlName="data1" displayFormat="MM/YYYY"  autofocus="true"></ion-datetime>

              </ion-item>
             

                            <ion-button type ="submit" color="primary" >Pesquisar</ion-button>
                          
                        



                            <table>
                               <tr>
                                  <th>
                                    Usuário
                                  </th>
                                  <th> 
                                    Quantidade de acessos
                                  </th>
                               </tr>
                               <tr id="{{sa.codigo}}" *ngFor="let sa of submit">
                                  <td>
                                    {{sa.nome_usuario}}
                                  </td>
                                  <td>
                                    {{sa.total}}
                                  </td>
                               </tr>
                            
                            </table>


                          </ion-grid>


                        
                         
                          
             </form>


</ion-content>
