<ion-header class="header">
  <ion-toolbar color="warning">
    
    
  <ion-row>
   <ion-col align-self-start> 
      <ion-title>SMTT-SL</ion-title>
   </ion-col>
   <ion-col align-self-start> 
      
   </ion-col>
   <ion-col align-self-start> 
      
    </ion-col>
   <ion-col align-self-start> 

      <ion-icon  class="exit" name="exit" (click)="exit()"></ion-icon>
      <label > {{nome}}</label>
   </ion-col>
    </ion-row>

    <!-- <ion-searchbar></ion-searchbar>-->
  </ion-toolbar>
</ion-header>
 


<ion-content  fullscreen>
  <!--
  Página Inicial 
  <ion-button expand="block" routerLink="/menu/first/tabs/main/details" routerDirection="forward">
    Mostra outra página (Módulo)
  </ion-button>
  
  <ion-header translucent>      
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
    </ion-header>
-->


<ion-grid style="width: 100%; padding-left: 1cm;">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <ion-row  style="height: 3cm;">  
     
      
          <ion-col  *ngFor="let item of items" (click)="itemSelected(item)"> <img src="./{{item.icon}}" width="100px" height="100px">
         <br>
                <ion-label >
                  <!--<h1>{{item.name}}</h1>-->
                  <ion-label text-justify text-wrap>  {{item.name}}</ion-label>            
                </ion-label>
              </ion-col>
     
    </ion-row>
 
</ion-grid>


 
      
  
   <!-- fab placed to the top end 
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
-->
</ion-content>
