<ion-header class="header">
  <ion-toolbar color="warning">
    
    
  <ion-row>
   <ion-col align-self-start> 
      <ion-title>SMTT-SL</ion-title>
   </ion-col>
   <ion-col align-self-start> 
      
   </ion-col>
   <ion-col align-self-start> 
      
    </ion-col>
   <ion-col align-self-start> 

      <ion-icon  class="exit" name="exit" (click)="exit()"></ion-icon>
      <label > {{nome}}</label>
   </ion-col>
    </ion-row>

    <!-- <ion-searchbar></ion-searchbar>-->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button class="addbutton" position="buttom" (click)="goTo()" color="success" style="position: center">
    <ion-icon slot="start"  name="add" ></ion-icon> Incluir
   
  </ion-button>
  <ion-grid class="table">
   
        
        
          <table >
            <thead class="theadTable">
              <tr class="trTable" align="center">
                <th> Data da Mensagem </th>
                <th>Tipo </th>
                <th>Mensagem </th>
                <th>Opção </th>
            
              </tr>
            </thead>
            <tbody>
              <tr id="{{sa.codigo}}" *ngFor="let sa of ss; let i =index " align="center">
                <td   >{{sa.data_mensagem}}</td>
                <td   >{{sa.tipo}}</td>
                <td   >{{sa.mensagem}}</td>  
                <td >
                  <ion-icon name="ios-trash"  (click)="delete(sa.codigo)"  ></ion-icon>
               
                </td>

              </tr>
            </tbody>
          </table>
       
      
    </ion-grid>

</ion-content>
